body {
    display:grid;
    border:solid yellow;
    grid-template-rows:75px auto;
    grid-template-columns: 350px auto;

}

.header {
    background-color: yellow;
    grid-row:1;
    grid-column:1/3;
}


.sidebar {
    display: grid;
background-color: blue;
border:solid red;

}

.maintiles {
    display:grid;
    background-color: white;
    border: solid purple;
  grid-template-columns:3fr 3fr ;
  grid-row:2;
  grid-column: 2;

  
   
}

.tile {
    border:solid salmon;
    
}